/* layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* back ground */
.bg-wp{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bg-wp_1{
    height: 10vh;
    background-color: #009A8B;
}

.bg-wp_2{
    flex-grow: 1;
    background-color: #D3DCD9;
}

img{
    width: 100%;
}


/* whats app */
.container-wp{
    position: absolute;
    top: 50px;
    left: 150px;
    bottom: 50px;
    right: 150px;
    display: flex;
    background-color:#F8F8F8;  
}

.container-contact{
    background-color: #EFF2F5;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 3px solid #E9EDEF;
}

.container-chat{
    background-color: #F8F8F8;
    flex-grow: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-chat.active{
    display: flex;
}


/* header contact */
.header-profile{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF2F5;
    width: 100%;
    position: relative;
}

.profile{
    width: 75%;
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.icon{
    width: 120px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #54656F;
    font-size: 20px;
}

.icon > div{
    padding: 0px 10px;
}

.img-profile{
    width: 60px;
    height: 60px;
    padding: 5px;
}

.img-profile > img{
    object-fit: cover;
    object-position: center;
}


.notification{
    background-color: #54BDEB;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bell{
    width: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #54BDEB;
}

.message-alert{
    padding-left: 15px;
}

.message-alert > p:last-child{
    color: #54656F;
    text-decoration: underline;
    cursor: pointer;
}


/* navbar */
.nav-bar{
    min-height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E9EDEF;
}

.nav-bar > input{
    width: 70%;
    border: none;
    height: 30px;
    background-color: #EFF2F5;
    border-radius: 3px;
}

.nav-bar > input:focus-visible{
    outline: none;
}

.nav-bar > button{
    border: none;
    width: 10%;
    height: 30px;
    background-color: #EFF2F5;
    cursor: pointer;
    border-radius: 3px;
}

/* contact */
.contact{
    height: 60px;
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;  
    border-bottom: 1px solid #E9EDEF;
}

.contact.active{
    display: flex;
}


.contact:hover{
    background-color: #F5F6F6;
    cursor: pointer;
}

.contact-chat{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.contact-chat > div:first-child{
    text-transform: capitalize;
}

.contact-chat > div:last-child{
    /* margin-top: 5px; */
    font-size: 12px;
    color: #54656F;
    font-weight: 400;
}

.contact-date{
    font-size: 10px;
}





/* container chat */
.chat-menu{
    position: absolute;
    right: 10px;
    top: 85%;
    z-index: 5;
    display: none;
    width: 250px;
    flex-direction: column;
    border: 1px solid #E9EDEF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 3px;
}

.chat-menu.active{
    display: flex;
}

.menu-item{
    padding: 10px;
    border-bottom: 1px solid #E9EDEF;
}

.menu-item:hover{
    background-color: #F5F6F6;
    cursor: pointer;
}

/* write chat */
.write-chat{
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EFF2F5;
    width: 100%;
}

.icon-text{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #54656F;
    gap: 20px;
    font-size: 20px;
}

.input-text{
    flex-grow: 1;
    border: none;
    height: 45px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.input-text:focus-visible{
    outline: none;
}

.audio-icon{
    padding-right: 30px;
    padding-left: 20px;
    color: #54656F;
    font-size: 20px;
}



/* chat */
.chat{
    flex-grow: 1;
    background-image: url("../img/background-wp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.message{
    padding: 5px 5px 15px 5px;

    margin-top: 2px;
    border-radius: 10px;
    max-width: 70%;
    min-width: 100px;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.message.sent{
    background-color: #D9FDD3;
    align-self: flex-end;
}

.message.received{
    background-color: #fff;
    align-self: flex-start;
}

.message > div:last-child{
    font-size: 8px;
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.message.sent + .message.received{
    margin-top: 10px;
}
.message.received + .message.sent{
    margin-top: 10px;
}


/* Home page */
.container-homepage{
    width: 400px;
    color: #54656F;
}

.container-homepage > p:last-child{
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #E9EDEF;
}

.home-img{
    width: 300px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.home-text{
    text-align: center;
}

.home-text > h1{
    font-weight: 600;
}

.home-text > p{
    font-size: 12px;
    margin: 20px 0px 40px 0px;
}