<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="bg-wp">

        <div class="bg-wp_1"></div>
        <div class="bg-wp_2"></div>

        <!-- whats app -->
        <div class="container-wp" id="app">
            
            <div class="container-contact">

                <!-- header contact -->
                <div class="header-profile">
                    <div class="profile">
                        <div class="img-profile">
                            <img src="https://doodleipsum.com/300x300/avatar-2?i=3cc4fa41128b79780dc9739c4cd92e80" alt="">
                        </div>
                        <div>Elena</div>
                    </div>
    
                    <div class="icon">
                        <div><i class="fa-solid fa-circle-notch"></i></div>
                        <div><i class="fa-solid fa-message"></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                </div>

                <div class="notification">
                    <div class="bell">
                        <div><i class="fa-solid fa-bell-slash"></i></div>
                    </div>
                    <div class="message">
                        <p>Ricevi le notifiche di nuovi utenti</p>
                        <p>Atiiva le notifiche desktop</p>
                    </div>
                </div>

                <div class="nav-bar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="contact" v-for="(el,i) in contact">
                    
                    <div class="profile">
                        <div class="img-profile">
                            <img :src="el.avatar" alt="">
                        </div>
                        
                        <div class="contact-chat">
                            <div>{{el.name}}</div>
                            <div>{{el.messages[el.messages.length-1].text}}</div>
                        </div>
                    </div>

                    <div class="contact-date">{{el.messages[el.messages.length-1].date}}</div>
                </div>                

            </div>

            
            <div class="container-chat active">

                <div class="container-homepage">
                    <div class="home-img">
                        <img src="img/Screenshot (13).png" alt="">
                    </div>

                    <div class="home-text">
                        <h1>Mantieni il telefono connesso</h2>
                        <p>WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</p>
                    </div>

                    <p>Chiama dal computer con WhatsApp per Windows. Scaricalo ora</p>
                </div>

            </div>
            

            <div class="container-chat" v-for="(el,i) in contact">

                <div class="header-profile">
                    <div class="profile">
                        <div class="img-profile">
                            <img src="https://doodleipsum.com/300x300/avatar-2?i=03730f4cd3bb280fde679b017fd9fc50" alt="">
                        </div>
                        <div class="contact-chat">
                            <div>Michele</div>
                            <div>Ultimo accesso: 28/02/2022 12:07</div>
                        </div>
                    </div>

                    <div class="icon">
                        <div><i class="fa-solid fa-circle-notch"></i></div>
                        <div><i class="fa-solid fa-message"></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                </div>

                <div class="chat">
                    <div class="message sent">
                        <div>Hai portato a spasso il cane?</div>
                        <div>10/01/2020 15:50:00</div>
                    </div>

                    <div class="message sent">
                        <div>Ricordati di dargli da mangiare</div>
                        <div>10/01/2020 15:50:00</div>
                    </div>
                    
                    <div class="message recived">
                        <div>Tutto fatto.</div>
                        <div>10/01/2020 16:15:22</div>
                    </div>
                </div>

                <div class="write-chat">
                    <div class="icon-text">
                        <div><i class="fa-regular fa-face-grin"></i></div>
                        <div><i class="fa-solid fa-paperclip"></i></div>
                    </div>

                   
                    <input type="text" placeholder="Scrivi un messaggio" class="input-text">
                    

                    <div class="audio-icon">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="js/app.js"></script>
</body>
</html>